<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
        a, a:visited, a:hover, a:active {
            color: inherit;
            text-decoration: none;
        }
        a:hover{text-decoration: none;}
        .current {font-weight: bold}
    </style>
</head>
<body>
    <div class="app_wrapper">
        <header class="header">
            {% include 'components/header.html' %}
        </header>
        <main class="main">
            {% block main %}{% endblock %}
        </main>
    </div>
</body>
</html>