<div>
    {% if page_obj %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
               style="display: inline-block; transform: rotate(180deg);">➜</a>
        {% endif %}

        {% if page_obj.number > 3 %}
            <a href="?page={{ 1 }}">1</a>
        {% endif %}

        {% if page_obj.number|add:'-3' >= 1 %}
            <a href="?page={{ page_obj.number|add:'-3' }}">...</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="current">{{ i }}</span>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages >= page_obj.number|add:'3' %}
            <a href="?page={{ page_obj.number|add:'3' }}">...</a>
        {% endif %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }}
            </a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">➜</a>
        {% endif %}
    {% endif %}
</div>